#bth{
    background-color:white;
}

#map{
    height: 75%;
    width: 100%;
}
#main2 { 
    
    height: 1000px; 
    margin-top: 5px;
    z-index: 0;
}
#h1 {
    font-size: 1rem;
		line-height: 1.1;
		margin: 0 0 2rem 0;
}
#consulta{
    background-color: 	#1c262c;
    height: 25%;
    width: 100%;
    color: white;
}